<!-- 
This file is part of PyFlaSQL.
Original author: Raphael Viera (raphael.viera@emse.fr)
License: check the LICENSE file.
-->
{% extends "base.html" %}
{% block title %}SRIE > TP1 - Reconnaissance / Footprint{% endblock %}
{% block content %}
<div class="container p-5 my-5">
    <!-- Main Title -->
    <h1 class="text-center">SRIE > TP1 - Reconnaissance / Footprint</h2>
    <div class="container p-5 my-5 border">
        <!-- Description -->
        <p class="lead">
            The key to successfully exploiting or infiltrating a remote system lies in gathering information. 
            The initial step in the penetration testing is reconnaissance, which involves using tools to retrieve information 
            from the target system. 
        </p>
                
        <p class="lead">
            In this lab, you will learn how to use social engineering techniques to obtain information 
            that can be used to gain access to user passwords and servers. 
            Reconnaissance plays a crucial role in achieving our goals, as it helps us understand the security posture of 
            the target system. The more we learn about the target's security measures, 
            the better we can understand their practices and frequency of security checks. 
        </p>

        <p class="lead">
            Reconnaissance is a systematic and methodical process that provides a comprehensive profile of the 
            target's security environment, allowing us to narrow down the potential attack vectors. 
            This includes identifying specific domains, subdomains, or IP ranges to focus our efforts on, 
            thus reducing the overall attack surface. 
        </p>
    </div>

    <!-- Useful tools title -->
    <h2 class="mt-5 text-center">Useful tools used in this phase</h2>    

    <div class="container p-5 my-5 border">
        <p class="lead">
            Below is a list of tools that can be used for this pentesting phase:
        </p>
        
        <ol class="list-group">
            <li class="list-group-item">
                <h5><a href="{{url_for('blueprint.srie_tp1_ipaddr')}}" class="list-group-item-action">IP Addresses (private and public)</a></h5>
                <p class="lead">
                    Internet Protocol (IP) address refers to a unique numerical label assigned to a networked device, 
                    such as a computer, server, router, or other networked device, that uses the IP for communication within an 
                    IP-based network. IP addresses are used to uniquely identify and locate devices on a network, allowing them to 
                    send and receive data packets.
                </p>
            </li>
            <li class="list-group-item">
                <h5><a href="{{url_for('blueprint.srie_tp1_whois')}}" class="list-group-item-action">WHOIS</a></h5>
                <p class="lead">
                    whois command is a network utility tool used to query databases to retrieve information about the registration of a domain name, IP address, or autonomous system.
                </p>
            </li>
            <li class="list-group-item">
                <h5><a href="{{url_for('blueprint.srie_tp1_TheHarvester')}}" class="list-group-item-action">TheHarvester</a></h5>
                <p class="lead">
                    TheHarvester is an open-source intelligence gathering tool designed to help security professionals and ethical hackers collect information about a target, such as email addresses, domain names, subdomains, hostnames, IP addresses, and more, from public sources.
                </p>
            </li>
        </ol>
    </div>

</div>
{% endblock %}

