<!-- 
This file is part of PyFlaSQL.
Original author: Raphael Viera (raphael.viera@emse.fr)
License: check the LICENSE file.
-->
{% extends "base.html" %}
{% block title %}SRIE > TP2 - Scanning Networks{% endblock %}
{% block content %}
<div class="container p-5 my-5">
    <!-- Main Title -->
    <h1 class="text-center">SRIE > TP2 - Scanning Networks</h2>
    <div class="container p-5 my-5 border">
        <!-- Description -->
        <p class="lead">
            Network scanning is a key technique in cybersecurity used to identify active devices, open ports, services, and potential vulnerabilities within a network.
        </p>
    </div>

    <!-- Useful tools title -->
    <h2 class="mt-5 text-center">Useful tools used in this phase</h2>    

    <div class="container p-5 my-5 border">
        <p class="lead">
            Below is a list of tools that can be used for this pentesting phase:
        </p>
        
        <ol class="list-group">
            <li class="list-group-item">
                <h5><a href="{{url_for('blueprint.srie_tp2_pingaddr')}}" class="list-group-item-action">Ping an IP address</a></h5>
                <p class="lead">
                    Ping can be used during a penetration test to send ICMP Echo Request packets to a target system or 
                    network, and then analyze the response to gather information about the target. By sending ping requests and 
                    analyzing the responses, pentesters can determine if a host is online, assess its response time (round-trip time or 
                    RTT), and identify potential targets for further exploration or exploitation.
                </p>
            </li>
            <li class="list-group-item">
                <h5><a href="{{url_for('blueprint.srie_tp2_Nmap')}}" class="list-group-item-action">Nmap</a></h5>
                <p class="lead">
                    Nmap allows to scan each IP address (active) to see which ports are open.
                </p>
            </li>
            <li class="list-group-item">
                <h5><a href="{{url_for('blueprint.srie_tp2_Nessus')}}" class="list-group-item-action">Nessus</a></h5>
                <p class="lead">
                    Nessus is a popular vulnerability scanning tool developed by Tenable, Inc. It is used to identify security vulnerabilities, misconfigurations, and potential threats in computer systems, networks, and applications.
                </p>
            </li>
        </ol>
    </div>

</div>
{% endblock %}

